<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Kolej Profesional Mara Indera Mahkota</h1>
    <h2>COURSE</h2>
<form action="" method="post">
    {% csrf_token %}
    Course code <input type="text" name="code"><br><br>
    Description <input type="text" name="desc"><br><br>
    <input type="submit" value="save"><br><br>
</form>
<br><br>
{{message}}
<br>
<table border="1">
    <tr><th>Code</th>
        <th>Description</th>
        <th>UPDATE?</th>
        <th>Delete</th>
    </tr>
    
    {% for x in allcourse %}
    <tr>
        <td>{{ x.code }}</td>
        <td>{{ x.description }}</td>
        <td><a href="update_course/{{x.code}}">Update</a></td>
        <td><a href="delete_course/{{x.code}}">delete</a></td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'index'%}">Back</a>
    
</body>
</html>