<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Koleh Profesional Mara</h1>
    <h2>Update Course</h2>


    <form action="save_update_course/{{data.code}}" method="post">
        {% csrf_token %}
        Course code <input type="text" name="code" value="{{data.code}}" disabled="false"><br><br>
        Description <input type="text" name="desc" value="{{data.description}}"><br><br>
        <input type="submit" value="save"><br><br>
        
    </form>
    
    
</body>
</html>